body{background-color:#cceeff;font-family: å¾®è»Ÿæ­£é»‘é«”;}

h1{color: white;text-align: center;}
h2:hover{color: white;}

header{height: 50px;width: 1350px;background-color: rgb(3, 250, 106);text-align: center;}
main{height: 900px;margin: 0px auto;width: 1350px;}
footer{height: 50px;background-color: rgb(3, 250, 106);float: left;width: 1350px;}
article{width: 1200px;height: 900px;background-color: turquoise;float: left;}
aside{width: 150px;height: auto;background-color: rgba(255, 255, 255, 0);float: left;}
#text1{color:white;text-shadow: 4px 4px 4px blue;}

 #fixed{ 
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: rgb(14, 211, 145);
  }
  a{color: #000;}
  a:hover{color: rgb(54, 240, 247);}
  a:visited{color: honeydew;} 
  a{  text-shadow: 4px 4px 4px blue;} 
  ul{margin:0;padding:0;list-style-type: none;}
  .menu{font-family: 微軟正黑體;font-size: 20px;}
  .menu>li{float: left;}
  .menu li{position: relative;padding:0px;border:lightblue 1px dashed;min-width: 120px;}
  .menu ul{position: absolute;z-index: 10;top:100%;display: none;}
  .menu ul li>ul{z-index: 20;top:5%;left:100%;}
  .menu a{display:block;padding:10px;text-decoration: none;
          background-image: url(按鈕.jpg);background-size: cover;color:black;}
  .menu a:hover{background-image: url(按鈕2.jpg);background-size: cover;color:white;}
  .menu a{
    display:block;
    padding:10px;
    text-decoration:none;
    background-image:url(img/按鈕.jpg);
    background-size:cover;
    color:black;
}
.menu a:hover{
    background-image:url(img/按鈕2.jpg);
    background-size:cover;
    color:white;
}
.menu li:hover >ul{
    display:block;

}




