#body{background-color:  rgb(61, 194, 255);;}
#d1{background-color: #003377;color: white;width: 300px;}
#d2{background-color:rgb(67, 135, 199);color: white;}
#t1{border-style:dashed;border-color: white;}