header{background-color:  orange;height: 50px;color: white;text-align: center;}
nav{background-color: deeppink;height:100px;width: 620px;float: left;}
main{height: 870px;margin:0 auto;width: 620px;}
aside{background-color: pink;height: 400px;width: 310px;float: left;}
article{background-color: deepskyblue;height: 400px;width: 310px;float: left;}
section{background-color: yellow;height: 100px;width: 310px;}
footer{height: 50px;background-color: darkseagreen;clear: both;}






